
<div *ngIf="((todo === false) && (title === false) && todoListButtonState) || todoListState" class="add-todo-list">
    <button (click)="addTodoList()" type="button">
        <label for="add-todo">
            <span class="todo-list__input--plus">
              <svg class="icon">
                <use xlink:href="../assets/icons/sprite.svg#icon-plus"></use>
              </svg>
            </span>
        </label>
        Add TODO List
    </button>
</div>

<app-todo-list 
    *ngIf="(((todo === true) ||
    (title === true)) ||
    !todoListButtonState) && !todoListState"
    (listState)=" addTodoList($event)"
>
</app-todo-list>
